.wrap-cart {
  margin-top: 150px;
  &__image {
    height: 225px;
    line-height: 225px;
    img {
      width: 210px;
      height: 100%;
      vertical-align: middle;
      line-height: normal;
      margin-bottom: 0;
      max-width: 100%;
    }
  }
  &__index {
    min-width: 100px;
  }
  &__title {
    min-width: 200px;
  }
  &__table {
    border-collapse: collapse;
    margin-bottom: 30px;
  }
  &__body {
    tr {
      td {
        padding: 20px;
      }
    }
  }
}
