.wrap-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  &__content {
    position: fixed;
    background: white;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    justify-content: space-around;
  }
  &__picture {
    width: 350px;
    height: 350px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 100%;
      line-height: auto;
      width: 100%;
      max-width: 100%;
    }
  }
  &__description {
    display: inline-block;
    width: 250px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
  }
  &__title {
    font-size: 14px;
    line-height: 20px;
    display: block;
    min-height: 70px;
  }
  &__price {
    font-weight: bold;
    color: black;
  }
  &__button {
    display: flex;
    justify-content: space-around;
  }
  &__close {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    width: auto;
  }
}
