.wrap-preview {
  margin-top: 150px;
  &__list {
    list-style: none;
  }
  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid rgba(0,0,0,.125);
    padding: 20px 50px;
    cursor: pointer;
  }
  &__item-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}